<app-breadcrumb [title]="'Dashboard'" [breadcrumb]="'Dashboard'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar" (click)="ToggleDashboard()">
                    <a hre="javascript:void(0)" class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left" [class.open]="openDashboard">
                    <div class="collection-mobile-back" (click)="ToggleDashboard()">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li class="active"><a href="javascript:void(0)">Account Info</a></li>
                            <!-- <li><a href="javascript:void(0)">Address Book</a></li>
                            <li><a href="javascript:void(0)">My Orders</a></li>
                            <li><a href="javascript:void(0)">My Wishlist</a></li>
                            <li><a href="javascript:void(0)">Newsletter</a></li>
                            <li><a href="javascript:void(0)">My Account</a></li>
                            <li><a href="javascript:void(0)">Change Password</a></li> -->
                            <li class="last" (click)="onLogOut()"><a href="javascript:void(0)">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            
                            <h2>Hey {{userData.firstName}} {{userData.lastName}}</h2>
                        </div>
                        <div class="box-account box-info">
                            <div class="box-head">
                                <h2>Account Information</h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>General Information</h3>
                                            <!-- <a href="javascript:void(0)">Edit</a> -->
                                        </div>
                                        <div class="box-content">
                                            <h6><b>Full Name : </b> {{userData.firstName}} {{userData.middleName}} {{userData.lastName}} </h6>
                                            <h6><b>Email Address : </b>{{userData.email}} </h6>
                                            <h6><b>Phone Number : </b>{{userData.phoneNumber}} </h6>
                                            <h6><b>Gender : </b> {{userData.gender}} </h6>
                                            <!-- <h6><a href="javascript:void(0)">Change Password</a></h6> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>Previous Orders</h3>
                                            <!-- <a href="javascript:void(0)">Edit</a> -->
                                        </div>
                                        <div class="box-content">
                                            <p>
                                                You have no previous orders at this time
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="box">
                                    <div class="box-title">
                                        <h3>Address Book</h3>
                                        <a href="javascript:void(0)">Manage Addresses</a>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6>Default Billing Address</h6>
                                            <address>
                                                <br>
                                                <p>{{userData.address1}}, {{userData.street}}, {{userData.state}}</p>
                                                <p>{{userData.city}}, {{userData.country}}</p>
                                                <!-- <a href="javascript:void(0)">Edit Address</a> -->
                                            </address>
                                        </div>
                                        <div class="col-sm-6">
                                            <h6>Default Shipping Address</h6>
                                            <address>
                                               <br>
                                               <p>{{userData.address1}}, {{userData.street}}, {{userData.state}}</p>
                                               <p>{{userData.city}}, {{userData.country}}</p>
                                                <!-- <a href="javascript:void(0)">Edit Address</a> -->
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->